{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
	<main>
		<h1>Welcome to GESTINTERV the software of Intervention Gestion</h1>
		<p>For more information check other page of this site</p>
	</main>
{% endblock %}
