{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<style>
	.container{
		display:contents;
	}
	#NavMenuAdministration{
		display:flex;
		justify-content: space-around;
	}
	#ContenerAdministration{
		/*border: 2px solid black;*/
	}

	.MenuAdministration{
		Background-color:grey;
		width: 100%;
		height: 5vh;
		border: 2px solid black;
		text-align: center;
	}

	#ContenerItem{
		height:65vh;
		/*Background-color:#5F9EA0;*/
	}

	.section {
		padding-left : 0px !important;
		padding-right : 0px !important;
	}

	.ItemCadre{
		border:2px solid black;
		border-radius: 30px;
		Background-color:grey;
		width: 30vw;
		height: 70px;
		display:flex;
		float:left;
		margin-top: 20px;
		margin-left: 2vw;
		justify-content: space-around;
	}
</style>
<main>
	<section class="row" >
		<h1 class = "mx-auto">Administration of GESTINSERV system</h1>
	</section>
	<section class="col-md-12 mx-auto ">
		<article class="col-md-12 mx-auto section" id="ContenerAdministration">
			<div class="col-md-12 mx-auto section" id="NavMenuAdministration">
				<div class="MenuAdministration">Liste des matériels</div>
				<div class="MenuAdministration">matériel non fournis</div>
				<div class="MenuAdministration">Types d'intervention</div>
				<div class="MenuAdministration">OS</div>
				<div class="MenuAdministration">Technician</div>
				<div class="MenuAdministration">+</div>
			</div>
			<div>
				<div class="col-md-12 mx-auto section" id="ContenerItem">
					{% for admin in admins %}
						<div class="ItemCadre" id="">
							<div>{{ admin.name }}</div>
							<div><button>Modif</button></div>
							<div><button>Delete</button></div>
						</div>
					{% else %}
						<tr>
							<td colspan="9">{{ 'no records found'|trans }}</td>
						</tr>
					{% endfor %}
				</div>
				<div class="col-md-12 mx-auto section">
					<div class="bg-danger col-md-12 mx-auto"><span class="glyphicon glyphicon-plus"></span>Add material</div>
					<div class="bg-warning col-md-12 mx-auto"> nom du matériel<input></input></div>
					<div class="bg-info col-md-12 mx-auto"><span class="glyphicon glyphicon-download-alt"></span><button>Ajouter le matériel</button></div>
				</div>
			</div>
		</article>
	</section>
</main>

{% endblock %}
