{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<style>
</style>
<main>
	<section class="row" >
		<h1 class = "mx-auto">Administration of GESTINSERV system</h1>
	</section>
	<section class="container col-md-12 mx-auto">
			<div>
				<article class="col-xs-4 col-sm-4 col-md-6 border border-secondary rounded">
					<div>
						<h2>Material List</h2>
					</div>
					<div>
						<table>
							<tr>
								<td>
									<p>bulubulu</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
							<tr>
								<td>
									<p>bulubulu2</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<h2>Add new material</h2>
						<p>Material name :</p>
						<input></input>
						<button>Add</button>
					</div>
				</article>
				<article class="col-xs-4 col-sm-4 col-md-6 border border-secondary rounded">
					<div>
						<h2>List type intervention</h2>
					</div>
					<div>
						<table>
							<tr>
								<td>
									<p>bufzeefze</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
							<tr>
								<td>
									<p>bulubulu2</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<h2>Add new intervention type</h2>
						<p>Material name :</p>
						<input></input>
						<button>Add</button>
					</div>
				</article>
			</div>
			<div>
				<article class="col-xs-4 col-sm-4 col-md-6 border border-secondary rounded">
					<div>
						<h2>List type intervention</h2>
					</div>
					<div>
						<table>
							<tr>
								<td>
									<p>bufzeefze</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
							<tr>
								<td>
									<p>bulubulu2</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<h2>Add new intervention type</h2>
						<p>Material name :</p>
						<input></input>
						<button>Add</button>
					</div>
				</article>
				<article class="col-xs-4 col-sm-4 col-md-6 border border-secondary rounded">
					<div>
						<h2>List type intervention</h2>
					</div>
					<div>
						<table>
							<tr>
								<td>
									<p>bufzeefze</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
							<tr>
								<td>
									<p>bulubulu2</p>
								</td>
								<td>
									<button>Modification</button>
								</td>
								<td>
									<button>Delete</button>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<h2>Add new intervention type</h2>
						<p>Material name :</p>
						<input></input>
						<button>Add</button>
					</div>
				</article>
			</div>
		</div>
	</section>
</main>

{% endblock %}
